presentation.aux
presentation.log
presentation.nav
presentation.out
presentation.pdf
presentation.snm
presentation.toc
presentation.pytxcode
presentation.vrb
*.log
*.aux
animated/montecarlo-*.png
animated/trapez-*.png
animated/inversetransform-*.png
animated/randu-*.png
animated/randu3d-*.png
plots/*.png
animated/inversetransform.png
animated/montecarlo.png
animated/montecarlo_dummy-0.png
animated/rejection-*.png
animated/rejection_one-*.png
convergence.png
